<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body class="bj">
<div class="login-box" style="font-family: KaiTi;">

  <div style="text-align: center">
    <img th:src="@{/images/me.jpg}" style="width: 72px;height: 72px">
  </div>
  <h2>登录</h2>
  <span style="color: red" th:text="${message}" th:if="${message!=null}">诶嘿</span><br><br>
  <form action="#" th:action="@{/admin/login}" method="post" id="myForm">

    <input style="font-family: KaiTi;" type="text" id="username" name="username" placeholder="用户名">
    <input style="font-family: KaiTi;" type="password" id="password" name="password" placeholder="密码">

    <button type="submit" onclick="return validateForm()" style="font-family: KaiTi;">登录</button>

  </form>
</div>
<script>
  function validateForm() {
    var regex = /^(?!.*[\u4e00-\u9fa5]).{1,20}$/; // 正则表达式
    // 获取表单元素的值
    var username = document.forms["myForm"]["username"].value;
    var password = document.forms["myForm"]["password"].value;
    // 检查用户名
    if (username == "") {
      alert("用户名不能为空");
      return false;
    }
    //检查密码
    if (password == "") {
      alert("密码不能为空");
      return false;
    }
    if (!regex.test(password)){
      alert("密码不能为中文且必须在16位以内!")
      return false;
    }
    // 校验通过，允许提交表单
    return true;
  }
</script>
</body>
</html>
