<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--导航-->
<nav th:fragment="navigate(active)" id="nav" class="gird-header" style="font-family: 'KaiTi';">
    <div class="ui m-container" >
        <div class="ui inverted secondary stackable menu" style="font-family: KaiTi;">
            <a href="#" th:href="@{/}" style="font-family: KaiTi;"><h2 class="ui teal header item" style="font-family: STSong">Qeem</h2></a>
            <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide" th:classappend="${active=='index'} ? active"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types}" class="m-item item m-mobile-hide" th:classappend="${active=='type'} ? active" target="_blank"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/tags}" class="m-item item m-mobile-hide" th:classappend="${active=='tag'} ? active" target="_blank"><i class="pencil alternate icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${active=='archives'} ? active" target="_blank"><i class="clock outline icon"></i>归档</a>
            <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide" th:classappend="${active=='leave'} ? active" target="_blank"><i class="envelope outline icon"></i>留言</a>
            <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide" th:classappend="${active=='friends'} ? active" target="_blank"><i class="heart outline icon"></i>友链</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${active=='about'} ? active" target="_blank"><i class="info icon"></i>关于</a>
            <form name="search" action="#" th:action="@{/}" method="get" target="_blank"
                  class="right m-item item ui secondary basic  m-mobile-hide">
                <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                    <input style="color: white" type="text" name="title" placeholder="search...." th:value="${title}">
                    <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                </div>
            </form>
            <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide" target="_blank"><i class="sign in icon"></i>登录</a>
        </div>
    </div>
    <a  class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

</body>
</html>