<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>友链</title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <!-- 看板娘 -->
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">
</head>
<body>

<!--导航-->
<nav th:replace="common :: navigate('friends')" class="gird-header">
    <div class="ui m-container">
        <div class="ui inverted secondary stackable menu " style="font-family: KaiTi;">
            <a href="#" th:href="@{/}" style="max-width: 200px"><h2 class="ui teal header item" style="font-family: KaiTi;">Qeem</h2></a>
            <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types}" class=" m-item item m-mobile-hide" target="_blank"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/tags}" class=" m-item item m-mobile-hide" target="_blank"><i class="pencil alternate icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" target="_blank"><i class="clock outline icon"></i>归档</a>
            <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide" target="_blank"><i class="envelope outline icon"></i>留言</a>
            <a href="#" th:href="@{/friends}" class="active m-item item m-mobile-hide" target="_blank"><i class="heart outline icon"></i>友链</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" target="_blank"><i class="info icon"></i>关于我</a>
            <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide"
               target="_blank" style="font-family: KaiTi;">
                <i class="sign in icon"></i>登录
            </a>
        </div>
    </div>
    <a  class="ui menu toggle black icon button m-right-top m-mobile-show" >
        <i class="sidebar icon"></i>
    </a>
</nav>

<br><br><br><br><br><br><br><br>

<!--中间内容-->
<div  class="m-margin- animated fadeIn">
    <div class="ui m-opacity container">
        <div class="box-shadow-max">
        <div class="ui segment m-padded-tb-large m-opacity">
            <div class="ui container">
                <h1 class="" align="center" style="font-family: KaiTi">友链申请须知</h1>
                    <ui class="list">
                        <div class="m-margin-left-mini m-margin-tb-tiny" style="font-size: large;font-weight: bold">网站要求</div>
                        <br>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">无色情内容，无政治敏感内容，网站要能长期正常访问</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">需要交换友链，先把本站添加到你的网站中，然后根据下面的格式，给我发邮件或在留言板给我留言~</li>
                        <br>
                        <div class="m-margin-left-mini m-margin-tb-tiny" style="font-size: large;font-weight: bold">申请格式</div>
                        <br>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">网站名称：Qeem</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">网站地址：https://itstarqeem.space</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">头像地址：https://pic.imgdb.cn/item/648d84ccb8a4cf094072de1a.webp</li><br>
                    </ui>
            </div>
        </div>
        </div>

        <!--友链-->
        <div class="box-shadow-max">
        <div class="ui top attached teal m-opacity segment box-shadow-max">
            <div class="ui m-padded-tb-large m-container-tiny">
                <div class="ui stackable m-container-mini m-opacity grid">

                    <!--友链显示区域-->
                    <div class="m-margin-tb-tiny four wide column" th:each="friend : ${friendsList}">
                        <a href="#" th:href="@{${friend.address}}" class="class_outer" target="_blank">
                            <div align="center">
                                <div class="friends-link">
                                    <img src="../static/images/me.jpg" th:src="@{${friend.avatar}}" style="height: 150px"  alt="" class="friends-link-image">
                                    <div class="m-margin-top">
                                     <h4 th:text="${friend.name}" class="m-font-size-text-friends m-margin-tb-tiny" style="font-family: KaiTi">Qeem</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>

<br>
<br>
<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-left-bottom">
    <a href="#" class="ui center aligned basic segment icon"><i class="ui medium m-teal chevron up icon"></i> </a>
</div>

<br>
<br>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" >
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column" >
                <div class="ui inverted link list"><br>
                    <div class="item">
                        <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >最新文章</div>
                <div th:each="blog , stat : ${newBlogList}" th:if="${stat.count} &lt;= 4">
                    <a href="#" target="_blank" th:href="@{/blogs/{id}(id=${blog.id})}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke;" th:text="${blog.title}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >推荐友链</div>
                <div th:each="friend : ${recommendFriendsList}">
                    <a href="#" target="_blank" th:href="@{${friend.address}}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke" th:text="${friend.name}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >站点概览</div>
                <div style="display: flex; justify-content: center;">
                    <div style="text-align: left;">
                        <div style="display: inline-block;">
                            文章总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px" th:text="${blogCount}">30</span>&nbsp;篇
                        </div><br>
                        <div style="display: inline-block;">
                            浏览总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${viewCount}">3000</span>&nbsp;次
                        </div><br>
                        <div style="display: inline-block;">
                            评论总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${commentCount}">3</span>&nbsp;条
                        </div><br>
                        <div style="display: inline-block;">
                            留言总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${messageCount}">3</span>&nbsp;条
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p style="text-align: center;opacity: 0.8;font-size: 13px">Copyright © 2022 - 2023 Qeem</p>
    <div style="height: 10px"></div>
    <div style="display: flex; justify-content: center; align-items: center;">

        <div style="color: teal;margin-top: -18px;font-size: 15px" class="ui inverted m-text-thin m-text-spaced">
            本站已运行:<span id="htmer_time" class="item m-text-thin"></span></div>
    </div>
    <p style="text-align: center">
        <a rel="nofollow" href="http://beian.miit.gov.cn">桂ICP备2022011074号-1</a>
    </p><br>


</footer>


<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<!-- 雪花特效 -->
<script src="../static/lib/snow/jq.snow.js" th:src="@{/lib/snow/jq.snow.js}"></script>
<!-- 看板娘 -->
<script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>
<script>
    //雪花特效
    $(document).ready(function() {
        // 在屏幕宽度大于 768px 时执行雪花效果
        if ($(window).width() > 768) {
            $(document).snow({
                // 雪花效果的配置参数
                minSize: 5,//雪花的最小尺寸
                maxSize: 40,//雪花的最大尺寸
                newOn: 700,//雪花出现的频率 这个数值越小雪花越多
            });
        }
    });

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");



    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 11, 10, 15, 15, 15)).getTime() / 1000);//这里月份以0开始
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>