<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>首页</title>
    <link rel="stylesheet" href="../static/lib/aplayer/APlayer.min.css" th:href="@{/lib/aplayer/APlayer.min.css}">
    <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<style>
    h1{
        font: 25px "FZShuTi"; /*设置字体和字体大小*/
        margin:20px auto; /*设置元素外边距*/
        font-weight: 20; /*设置字体粗细*/
        text-align: center; /*设置文字居中*/
        color: teal; /*设置文字颜色*/
        -webkit-animation:bounce 2s infinite;/*设置动画*/
    }
    @-webkit-keyframes bounce{/*创建动画*/
        0%,100%,20%,50%,80%{
            -webkit-transform:translateY(0);
        }40%{
             -webkit-transform:translateY(-20px);
         }60%{
              -webkit-transform:translateY(-10px);
          }
    }
</style>
<body style=" height:750px;overflow-x:hidden;">

<!--导航-->
<nav  class="gird-header" >
    <div class="ui m-container">
        <div class="ui inverted secondary stackable menu " style="font-family: KaiTi;">
            <a href="#" th:href="@{/}" style="max-width: 200px"><h2 class="ui teal header item" style="font-family: KaiTi;">Qeem</h2></a>
            <a href="#" th:href="@{/}" class="active m-item item m-mobile-hide" style="font-family: KaiTi;"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types}" class="m-item item m-mobile-hide" target="_blank" style="font-family: KaiTi;"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/tags}" class="m-item item m-mobile-hide" target="_blank" style="font-family: KaiTi;"><i class="pencil alternate icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" target="_blank" style="font-family: KaiTi;"><i class="clock outline icon"></i>归档</a>
            <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide" target="_blank"><i class="envelope outline icon"></i>留言</a>
            <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide" target="_blank"><i class="heart outline icon"></i>友链</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" target="_blank" style="font-family: KaiTi;"><i class="info icon"></i>关于</a>
            <form name="search" action="#" th:action="@{/}" method="get" target="_blank"
                  class="right m-item item ui secondary basic  m-mobile-hide">
                <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                    <input style="color: white" type="text" name="title" placeholder="search...." th:value="${title}">
                    <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                </div>
            </form>
            <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide"
               target="_blank" style="font-family: KaiTi;">
                <i class="sign in icon"></i>登录
            </a>
        </div>
    </div>
    <a class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--顶部图片-->
<br><br>
<!--中间内容-->
    <div class="m-container m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui stackable grid">

                <div class="twelve wide column">

                    <!--博客内容-->
                    <div class="ui vertical segment" >
                        <!--博文列表-->
                        <div class="ui padded segment m-padded-tb-large m-opacity ">
                            <div class="ui large aligned mobile reversed stackable grid" th:each="blogs:${page.list}">
                                <!--博文信息-->
                                <div class="eleven wide column ">
                                    <h3 class="ui header">
                                        <a href="#" target="_blank" th:href="@{/blogs/{id}(id=${blogs.id})}" class="m-black m-title-font"
                                           th:text="${blogs.title}" style="font-family: KaiTi;">标题</a>
                                    </h3>
                                    <p class="m-text m-margin-top-max" th:text="|${blogs.description}....|">描述</p>
                                    <div class="ui m-margin-top-small grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
<!--                                                    <img src="../static/images/me.jpg" alt="" th:src="@{/images/me.jpg}"-->
<!--                                                         class="ui avatar image">-->
<!--                                                    <div class="content">-->
<!--                                                        <a href="#" target="_blank" th:href="@{/about}"-->
<!--                                                                            class="header">Qeem</a>-->
<!--                                                    </div>-->
                                                    <i class="calendar icon"></i><span
                                                        th:text="${#dates.format(blogs.createTime,'yyyy-MM-dd')}">2020-01-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar check outline icon"></i><span
                                                        th:text="${#dates.format(blogs.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> <span th:text="${blogs.views}">2222</span>
                                                </div>
                                                <div class="item">
                                                    <i class="comment outline icon"></i><span th:text="|  ${blogs.commentCount}|">10</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" th:href="@{/types/{id}(id=${blogs.type.id})}"
                                               class="ui teal basic label m-padded-tiny m-text-thin"
                                               th:text="${blogs.type.name}">类型</a>
                                        </div>
                                    </div>
                                </div>
                                <!--博文图片-->
                                <div class="five wide column">
                                    <a href="#" target="_blank" th:href="@{/blogs/{id}(id=${blogs.id})}">
                                        <img src="../static/images/blog.webp" th:src="@{/images/blog.webp}" alt="" class="ui rounded image bigger"
                                             th:attr="data-src=${blogs.firstPicture}"
                                        >
                                    </a>
                                </div>
                                <hr align="center" width="100%" color="#F0F0F0" size="2">
                            </div><br>
                            <!--分页-->
                            <div class="ui mini pagination" style="font-family: KaiTi; display: flex; justify-content: center;">
                                <div class="two wide column" style=" float: left;">
                                    <a class="item" style="color: teal" th:href="@{/{pageNum}(pageNum=${page.prePage})}"
                                       th:if="${page.hasPreviousPage}" >上一页</a>
                                </div>
                                <!--导航条-->
                                <div class="two wide column" style="flex-grow: 1; display: flex; justify-content: center;">
                                     <span th:each="num : ${page.navigatepageNums}" >&nbsp;
                                           <a th:if="${page.pageNum == num}" style="color: #FF8C00" th:href="@{'/'+${num}}" th:text="'['+${num}+']'">2</a>
                                           <a style="color: teal" th:if="${page.pageNum != num}" th:href="@{'/'+${num}}" th:text="${num}">2</a>
                                     </span>
                                </div>
                                <div class="two wide column" style=" float: right;">
                                    <a class="item" style="color: teal" th:href="@{/{pageNum}(pageNum=${page.nextPage})}"
                                       th:if="${page.hasNextPage}">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="four wide column m-opacity">
                    <div style="height: 0px"></div>
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" alt="" class="ui rounded image m-container" style="width: 70px;border-radius: 50%;">
                            <div class="ui center aligned header zt zt-maxx">
                                <h1>
                                    Qeem
                                </h1>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center;color: black;font-size: 15px;font-family: 'STXingkai';">
                                <p >阿巴阿巴阿巴...</p>
                            </div><br>
                            <div style="display: flex;justify-content: center;align-items: center;">
                                <a class="ui email circular icon button" data-content="2572277647@qq.com" data-position="bottom center"><i class="envelope outline icon"></i></a>
                                <a class="ui wechat circular icon button" id="wechat"><i class="weixin icon"></i></a>
                                <a class="ui qq circular icon button" id="qq"><i class="qq icon"></i></a>
<!--                                <a class="ui qq circular icon button" data-content="2572277647" data-position="bottom center"><i class="qq icon"></i></a>-->
                                <a href="https://github.com/starQeem" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <!--分类-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="clone outline icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank" th:href="@{/types}">更多 <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" style="font-family: KaiTi;">
                                <a target="_blank" class="item" th:href="@{/types/{id}(id=${type.id})}" th:each="type : ${typeList}">
                                    <span th:text="${type.name}" >学习笔记</span>
                                    <div class="ui teal basic left pointing label" th:text="${type.blogList.size()}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="pencil alternate icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a target="_blank" th:href="@{/tags}">更多 <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment" style="font-size: 12px;">
                            <a href="#" th:each="tag : ${tagList}" th:href="@{/tags/{id}(id=${tag.id})}"
                               target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                <span th:text="${tag.name}">方法论</span>
<!--                                <div class="detail" th:text="${tag.blogList.size()}">23</div>-->
                            </a>
                        </div>

                    </div>
                    <!--最新推荐-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="file alternate outline icon"></i>最新文章
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" style="font-family: KaiTi;" >
                                <a target="_blank" class="item" th:href="@{/blogs/{id}(id=${blog.id})}" th:each="blog : ${newBlogList}">
                                    <span th:text="${blog.title}">学习笔记</span>
                                </a>
                            </div>
                        </div>
                    </div>



                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img th:src="@{/images/wechat.png}" alt="" class="ui rounded image" style="width: 100px">
                    </div>
                    <div class="ui qq-qr flowing popup transition hidden">
                        <img th:src="@{/images/qq.jpg}" alt="" class="ui rounded image" style="width: 100px">
                    </div>
                </div>

            </div>


        </div>

    </div>




<br>
<br>
<br>
<br>


<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" >
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column" >
                <div class="ui inverted link list"><br>
                    <div class="item">
                        <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >最新文章</div>
                <div th:each="blog , stat : ${newBlogList}" th:if="${stat.count} &lt;= 4">
                    <a href="#" target="_blank" th:href="@{/blogs/{id}(id=${blog.id})}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke;" th:text="${blog.title}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >推荐友链</div>
                <div th:each="friend : ${friendsList}">
                    <a href="#" target="_blank" th:href="@{${friend.address}}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke" th:text="${friend.name}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >站点概览</div>
                <div style="display: flex; justify-content: center;">
                    <div style="text-align: left;">
                        <div style="display: inline-block;">
                            文章总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px" th:text="${blogCount}">30</span>&nbsp;篇
                        </div><br>
                        <div style="display: inline-block;">
                            浏览总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${viewCount}">3000</span>&nbsp;次
                        </div><br>
                        <div style="display: inline-block;">
                            评论总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${commentCount}">3</span>&nbsp;条
                        </div><br>
                        <div style="display: inline-block;">
                            留言总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${messageCount}">3</span>&nbsp;条
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p style="text-align: center;opacity: 0.8;font-size: 13px">Copyright © 2022 - 2023 Qeem</p>
    <div style="height: 10px"></div>
    <div style="display: flex; justify-content: center; align-items: center;">

        <div style="color: teal;margin-top: -18px;font-size: 15px" class="ui inverted m-text-thin m-text-spaced">
            本站已运行:<span id="htmer_time" class="item m-text-thin"></span></div>
    </div>
    <p style="text-align: center">
        <a rel="nofollow" href="http://beian.miit.gov.cn">桂ICP备2022011074号-1</a>
    </p><br>


</footer>

<script src="../static/lib/aplayer/Meting.min.js" th:src="@{lib/aplayer/Meting.min.js}"></script>
<script src="../static/lib/aplayer/APlayer.min.js" th:src="@{/lib/aplayer/APlayer.min.js}"></script>
<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<!-- 懒加载 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js"></script>
<!-- 看板娘 -->
<script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>
<!-- 雪花特效 -->
<script src="../static/lib/snow/jq.snow.js" th:src="@{/lib/snow/jq.snow.js}"></script>

<script>
//雪花特效
$(document).ready(function() {
    // 在屏幕宽度大于 768px 时执行雪花效果
    if ($(window).width() > 768) {
        $(document).snow({
            // 雪花效果的配置参数
            minSize: 10,//雪花的最小尺寸
            maxSize: 40,//雪花的最大尺寸
            newOn: 700,//雪花出现的频率 这个数值越小雪花越多
        });
    }
});

    //懒加载
    $(document).ready(function() {
        $('img').unveil();
    });

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 11, 10, 15, 15, 15)).getTime() / 1000);//这里月份以0开始
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-show');

    });



    // 显示微信
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });

    <!-- 显示qq -->
$('.qq').popup({
    popup : $('.qq-qr'),
    position: 'bottom center'
});


    // 显示邮箱
    $('.email').popup();


    // 显示github
    $('.github').popup();

</script>
</body>
</html>
