<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <title>留言板</title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <!-- 看板娘 -->
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">
    <script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>

    <link rel="stylesheet" href="../static/css/jquery.emoji.css" th:href="@{/css/jquery.emoji.css}">
    <style>
        .test:empty::before{
            color:lightgrey;
            content:attr(placeholder);
            padding-left: 6px;
            font-size: 15px;
        }
    </style>

</head>
<body  >

<!--导航-->
<nav th:replace="common :: navigate('leave')" class="gird-header">
    <div class="ui m-container">
        <div class="ui inverted secondary stackable menu " style="font-family: KaiTi;">
            <a href="#" th:href="@{/}" style="max-width: 200px"><h2 class="ui teal header item" style="font-family: KaiTi;">Qeem</h2></a>
            <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types}" class=" m-item item m-mobile-hide" target="_blank"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/tags}" class=" m-item item m-mobile-hide" target="_blank"><i class="pencil alternate icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" target="_blank"><i class="clock outline icon"></i>归档</a>
            <a href="#" th:href="@{/message}" class="active m-item item m-mobile-hide" target="_blank"><i class="envelope outline icon"></i>留言</a>
            <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide" target="_blank"><i class="heart outline icon"></i>友链</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" target="_blank"><i class="info icon"></i>关于</a>
            <form name="search" action="#" th:action="@{/}" method="get" target="_blank"
                  class="right m-item item ui secondary basic  m-mobile-hide">
                <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                    <input style="color: white" type="text" name="title" placeholder="search...." th:value="${title}">
                    <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                </div>
            </form>
            <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide"
               target="_blank" style="font-family: KaiTi;">
                <i class="sign in icon"></i>登录
            </a>
        </div>
    </div>
    <a  class="ui menu toggle black icon button m-right-top m-mobile-show" >
        <i class="sidebar icon"></i>
    </a>
</nav>

<br><br><br><br><br><br>


<!--中间内容-->
<div id="waypoint" class="m-container m-margin-animated fadeIn">
  <div class="ui container m-opacity box-shadow-max">
      <!--                新增留言-->
      <div class="ui bottom attached segment">
      <div id="message-form" class="ui form">
          <h3 class="ui header teal" style="font-family: KaiTi;"><i class="mini comment outline icon" style="width: 18px"></i>留言板</h3>
          <input type="hidden" name="parentMessage.id" >
          <input type="hidden" name="rootMessage.id">
          <!--                    留言区-->
<!--          <div class="field">-->
<!--              <textarea name="content" placeholder="请输入留言信息..."></textarea>-->
<!--          </div>-->
          <div  id="commentEditor" class="field test" contenteditable="true" placeholder="请输入留言信息..."
                style="height: 200px;border: 1px solid 	#E0E0E0;font-family: KaiTi,serif;"></div>

          <div class="fields">
              <!--                    输入姓名-->
              <div class="field m-mobile-wide m-margin-bottom-small">
                  <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input style="font-family: KaiTi;" type="text" name="nickname" placeholder="昵称(必填)" th:value="${session.user}!=null ? ${session.user.nickname}">
                  </div>
              </div>


              <!--                        输入邮箱-->
              <div class="field m-mobile-wide m-margin-bottom-small">
                  <div class="ui left icon input">
                      <i class="mail icon"></i>
                      <input style="font-family: KaiTi;" type="text" name="email" placeholder="邮箱(选填)" th:value="${session.user}!=null ? ${session.user.email}">
                  </div>
              </div>

              <!--表情按钮-->
              <div class="field  m-margin-bottom-small m-mobile-wide" data-tooltip="表情未加载完全或点击无响应可刷新页面重试">
                  <button id="emojiBtn" type="button" class="ui yellow button m-mobile-wide" style="width:100px;height: 40px;font-family: KaiTi;">
                      <i class="large smile outline icon"></i>表情</button>
              </div>



              <div class="right aligned two wide column">
              <div class="field m-mobile-wide m-margin-bottom-small">
                  <button id="messagepost-btn" type="button" class="ui teal button m-mobile-wide" onclick="javascript:{document.form1.submit();}" style="width:100px;height: 40px;font-family: KaiTi;"><i class="edit icon"></i>发布</button>
              </div>
              </div>
<!--              <div class="aligned five wide column" style="margin: 10px">-->
<!--                  &lt;!&ndash;                  <div class="ui active inline loader"></div>&ndash;&gt;-->
<!--                  <p style="color: teal">为了能够及时接收到回复提醒，请输入正确的邮箱地址哦~</p>-->
<!--              </div>-->

      </div>

      </div>
      <!--留言区-->
          <div class="ui segment" id="message-container" >
<!--              onload="myfunction()"-->
              <div th:fragment="messageList" onload="myfunction()">
                  <div class="ui threaded comments" style="max-width: 100%;" >
<!--                      <div class="comment" th:each="message : ${messages}">-->
                      <div class="comment"  th:each="message : ${page.list}">
                          <a class="avatar" th:if="${message.adminMessage}">
                              <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}">
                          </a>
                          <a class="avatar" th:unless="${message.adminMessage}">
                              <img src="../static/images/avatar.png" th:src="@{/images/avatar.png}">
                          </a>
                          <div class="content">
                              <a class="author">
                                  <span th:text="${message.nickname}">Matt</span>
                                  <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${message.adminMessage}">栈主</div>
                              </a><br>
<!--                              <div class="metadata">-->
                                  <span class="date m-opacity-mini" style="font-size: 12px"  th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
<!--                              </div>-->
                              <div  class="text" th:utext="${message.content}">太赞了！ </div>
                              <div class="actions">
                                  <a class="reply" data-parentmessageid="1" data-messagenickname="Matt" data-rootmessageid="1" th:attr="data-parentmessageid=${message.id},data-messagenickname=${message.nickname},data-rootmessageid=${message.id}" onclick="reply(this)">回复</a>
                                  <a class="delete" href="#" th:href="@{/message/{id}/delete(id=${message.id},pageNum=${page.pageNum})}" onclick="return confirm('确定要删除该留言吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                              </div>
                          </div>
                          <!--子集留言-->
                          <div class="comments" th:if="${#arrays.length(message.replyList)}>0">
                              <div class="comment" th:each="reply : ${message.replyList}">
                                  <a class="avatar">
                                      <img src="../static/images/me.jpg" th:src="@{${reply.avatar}}">
                                  </a>
                                  <div class="content">
                                      <a class="author">
                                          <span th:text="${reply.nickname}">小红</span>
                                          <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminMessage}">栈主</div>
                                          &nbsp;<span th:text="|@ ${reply.parentMessage.nickname}|" class="m-teal">@ 小白</span>
                                      </a><br>
<!--                                      <div class="metadata">-->
                                          <span class="date m-opacity-mini" style="font-size: 12px"  th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
<!--                                      </div>-->
                                      <div class="text" th:utext="${reply.content}">太赞了！ </div>
                                      <div class="actions">
                                          <a class="reply" data-parentmessageid="1" data-messagenickname="Matt" data-rootmessageid="1" th:attr="data-parentmessageid=${reply.id},data-messagenickname=${reply.nickname},data-rootmessageid=${message.id}" onclick="reply(this)">回复</a>
                                          <a class="delete" href="#" th:href="@{/message/{id}/delete(id=${reply.id},pageNum=${page.pageNum})}" onclick="return confirm('确定要删除该留言吗？三思啊! 删了可就没了！')" th:if="${session.user}">删除</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>
<!--          分页-->
          <div class="ui inverted divided stackable grid">
              <div class="three wide column" align="center">
                  <a class="item" style="color: teal" th:href="@{/message/{pageNum}(pageNum=${page.prePage})}" th:unless="${page.isFirstPage}">上一页</a>
              </div>

              <!--导航条-->
              <div class="two wide column" style="flex-grow: 1; display: flex; justify-content: center;">
                                     <span th:each="num : ${page.navigatepageNums}" >&nbsp;
                                           <a th:if="${page.pageNum == num}" style="color: #FF8C00" th:href="@{'/message/'+${num}}" th:text="'['+${num}+']'">2</a>
                                           <a style="color: teal" th:if="${page.pageNum != num}" th:href="@{'/message/'+${num}}" th:text="${num}">2</a>
                                     </span>
              </div>

              <div class="three wide column" align="center">
                  <a class="item" style="color: teal" th:href="@{/message/{pageNum}(pageNum=${page.nextPage})}" th:unless="${page.isLastPage}">下一页</a>
              </div>
          </div>

      </div>
      </div>
    <br>
  </div>
</div>




<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-left-bottom" >
    <a href="#" class="ui center aligned basic segment icon"><i class="ui medium teal chevron up icon"></i> </a>
</div>



<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" >
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column" >
                <div class="ui inverted link list"><br>
                    <div class="item">
                        <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >最新文章</div>
                <div th:each="blog , stat : ${newBlogList}" th:if="${stat.count} &lt;= 4">
                    <a href="#" target="_blank" th:href="@{/blogs/{id}(id=${blog.id})}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke;" th:text="${blog.title}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >推荐友链</div>
                <div th:each="friend : ${friendsList}">
                    <a href="#" target="_blank" th:href="@{${friend.address}}" style="color:teal;"  class="m-text-thin m-opacity" >
                        <span class="item m-text-thin m-opacity" style="font-size: 14px;color: whitesmoke" th:text="${friend.name}">喔哈星</span>
                    </a><br>
                </div>
            </div>
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >站点概览</div>
                <div style="display: flex; justify-content: center;">
                    <div style="text-align: left;">
                        <div style="display: inline-block;">
                            文章总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px" th:text="${blogCount}">30</span>&nbsp;篇
                        </div><br>
                        <div style="display: inline-block;">
                            浏览总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${viewCount}">3000</span>&nbsp;次
                        </div><br>
                        <div style="display: inline-block;">
                            评论总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${commentCount}">3</span>&nbsp;条
                        </div><br>
                        <div style="display: inline-block;">
                            留言总数:&nbsp;
                            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${messageCount}">3</span>&nbsp;条
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p style="text-align: center;opacity: 0.8;font-size: 13px">Copyright © 2022 - 2023 Qeem</p>
    <div style="height: 10px"></div>
    <div style="display: flex; justify-content: center; align-items: center;">

        <div style="color: teal;margin-top: -18px;font-size: 15px" class="ui inverted m-text-thin m-text-spaced">
            本站已运行:<span id="htmer_time" class="item m-text-thin"></span></div>
    </div>
    <p style="text-align: center">
        <a rel="nofollow" href="http://beian.miit.gov.cn">桂ICP备2022011074号-1</a>
    </p><br>


</footer>

<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<!-- 雪花特效 -->
<script src="../static/lib/snow/jq.snow.js" th:src="@{/lib/snow/jq.snow.js}"></script>

<script src="../static/lib/emoji/jquery.emoji.js" th:src="@{/lib/emoji/jquery.emoji.js}"></script>
<script src="../static/lib/emoji/emoji.list.js" th:src="@{/lib/emoji/emoji.list.js}"></script>

<script th:inline="javascript">
    // /*加载emoji表情*/
    onload = function () {
        $("#commentEditor").emoji({
            button: "#emojiBtn",  //评论表情
            showTab: false,
            animation: 'slide',
            basePath: '/images/emoji',
            icons: emojiLists
        });
    }

    //雪花特效
    $(document).ready(function() {
        // 在屏幕宽度大于 768px 时执行雪花效果
        if ($(window).width() > 768) {
            $(document).snow({
                // 雪花效果的配置参数
                minSize: 10,//雪花的最小尺寸
                maxSize: 40,//雪花的最大尺寸
                newOn: 700,//雪花出现的频率 这个数值越小雪花越多
            });
        }
    });


    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2022, 11, 10, 15, 15, 15)).getTime() / 1000);//这里月份以0开始
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);



    //留言表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入留言内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            // type: {
            //     identifier: 'email',
            //     rules: [{
            //         type: 'email',
            //         prompt: '请填写正确的邮箱地址'
            //     }]
            // }
        }
    });

    function myfunction(){
        $("#message-container").load(/*[[@{/messagecomment}]]*/);
    }



    // 校验信息
    $('#messagepost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });



    //发送请求给后端
    function postData() {
        $("#message-container").load(/*[[@{/message(pageNum=${page.pageNum})}]]*/"",{
            "parentMessage.id" : $("[name='parentMessage.id']").val(),
            "rootMessage.id" : $("[name='rootMessage.id']").val(),
            // "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            // "content" : $("[name='content']").val()
            "content" : document.getElementById("commentEditor").innerHTML
        },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#message-container'),500);
            clearContent();
        });

    }

    // 清除表单
    function clearContent() {
        // $("[name='content']").val('');
        $("[name='parentMessage.id']").val(null);
        $("[name='rootMessage.id']").val(null);
        // $("[name='content']").attr("placeholder", "请输入留言信息...");
        document.getElementById("commentEditor").innerText='';
        $("[id='commentEditor']").attr("placeholder", "请输入留言信息...");
    }

    function reply(obj) {
        var rootMessageId = $(obj).data('rootmessageid');
        var parentmessageId = $(obj).data('parentmessageid');
        var messageNickname = $(obj).data('messagenickname');
        $("[id='commentEditor']").attr("placeholder", "@"+messageNickname).focus();
        $("[name='parentMessage.id']").val(parentmessageId);
        $("[name='rootMessage.id']").val(rootMessageId);
        $(window).scrollTo(0,500);
    }
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
