<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <title>标签</title>
  <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="../static/lib/semantic/dist/semantic.min.css" th:href="@{/lib/semantic/dist/semantic.min.css}">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <!-- 看板娘 -->
  <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">
  <script src="../static/live2d-widget/autoload.js" th:src="@{/live2d-widget/autoload.js}"></script>
</head>
<body>

<!--导航-->
<nav th:replace="common :: navigate('tag')" class="gird-header">
  <div class="ui m-container">
    <div class="ui inverted secondary stackable menu " style="font-family: KaiTi;">
      <!--            <div class=" m-item item m-mobile-hide" >-->
      <a href="#" th:href="@{/}" style="max-width: 200px"><h2 class="ui teal header item" style="font-family: KaiTi">Qeem</h2></a>
      <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
      <a href="#" th:href="@{/types}" class=" m-item item m-mobile-hide" target="_blank"><i class="clone outline icon"></i>分类</a>
      <a href="#" th:href="@{/tags}" class="active m-item item m-mobile-hide" target="_blank"><i class="pencil alternate icon"></i>标签</a>
      <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" target="_blank"><i
              class="clock outline icon"></i>归档</a>
      <a href="#" th:href="@{/message}" class="m-item item m-mobile-hide" target="_blank"><i class="envelope outline icon"></i>留言</a>
      <a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide" target="_blank"><i class="heart outline icon"></i>友链</a>
      <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" target="_blank"><i class="info icon"></i>关于我</a>
      <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide"
         target="_blank">
        <i class="sign in icon"></i>登录
      </a>
    </div>
  </div>
</nav>

<br><br><br><br><br><br><br><br>

<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
  <div class="ui container">
    <div class="ui segment m-padded-tb-large m-opacity">
      <div class="ui container" align="center">
        <div class="ui labeled button m-margin-tb-tiny" th:each="tag : ${tagList}" style="font-family: KaiTi;">
          <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"  class="ui basic left pointing large label m-margin-tb-tiny m-rgba" th:classappend="${tag.id==currTag} ? 'teal'" >
            <span th:text="${tag.name}">方法论</span>
          </a>
<!--          th:text="${tag.blogList.size()}"-->
          <div class="ui basic  left pointing label" th:classappend="${tag.id==currTag} ? 'teal'" th:text="${tag.blogList.size()}">22</div>
        </div>
      </div>
    </div>

    <div class="ui top attached teal m-opacity segment">
      <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.list}">
        <div class="ui middle aligned mobile reversed stackable grid" >
          <div class="eleven wide column">
            <h3 class="ui header" ><a href="#" th:href="@{/blogs/{id}(id=${blog.id})}" target="_blank" class="m-black m-title-font" th:text="${blog.title}">标题</a></h3>
            <p class="m-text" th:text="|${blog.description}......|">描述描述描述描述描述描述描述描述描述描述描述描述........</p>
            <div class="ui m-margin-top-max grid">
              <div class="eleven wide column">
                <div class="ui mini horizontal link list">
                  <div class="item">
                    <img src="../static/images/me.jpg" th:src="@{/images/me.jpg}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" th:href="@{/about}" target="_blank" class="header"  >Qeem</a></div>
                  </div>
                  <div class="item">
                    <i class="calendar icon"></i>发布于<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm')}">2020-01-01</span>
                  </div>
                  <div class="item">
                    <i class="calendar check outline icon"></i>更新于<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-01-01</span>
                  </div>
                  <div class="item">
                    <i class="eye icon"></i> <span th:text="${blog.views}">2222</span>
                  </div>
                  <div class="item">
                    <i class="comment outline icon"></i><span th:text="|  ${blog.commentCount}|">10</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="five wide column">
            <a href="#" th:href="@{/blogs/{id}(id=${blog.id})}" target="_blank">
              <img src="../static/images/blog.webp" th:src="@{/images/blog.webp}" th:attr="data-src=${blog.firstPicture}" alt="" class="ui rounded image">
            </a>
          </div>
        </div>
      </div><br>
      <!--分页-->
      <div class="ui mini pagination" style="font-size: 15px; font-family: KaiTi; display: flex; justify-content: center;">
        <div class="two wide column" style="float: left">
          <a class="item" style="color: teal;float: left" th:href="@{/tags/{currTag}(pageNum=${page.prePage},currTag=${currTag})}" th:unless="${page.isFirstPage}">上一页</a>
        </div>
        <!--导航条-->
        <div class="two wide column" style="flex-grow: 1; display: flex; justify-content: center;">
          <span th:each="num : ${page.navigatepageNums}" >&nbsp;
            <a th:if="${page.pageNum == num}" style="color: #FF8C00" th:href="@{/tags/{currTag}(pageNum=${num},currTag=${currTag})}" th:text="'['+${num}+']'">2</a>
            <a style="color: teal" th:if="${page.pageNum != num}" th:href="@{/tags/{currTag}(pageNum=${num},currTag=${currTag})}" th:text="${num}">2</a>
          </span>
        </div>
        <div class="two wide column" style="float: right">
          <a class="item" style="color: teal;" th:href="@{/tags/{currTag}(pageNum=${page.nextPage},currTag=${currTag})}" th:unless="${page.isLastPage}">下一页</a>
        </div>
      </div><br>
    </div>


  </div>
</div>

<br>
<br>


<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-left-bottom">
  <a href="#" class="ui center aligned basic segment icon"><i class="ui medium m-teal chevron up icon"></i> </a>
</div>


<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" >
  <!--容器-->
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="four wide column">
        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >站点概览</div>
        <div style="display: flex; justify-content: center;">
          <div style="text-align: left;">
            <div style="display: inline-block;">
              文章总数:&nbsp;
              <span class="item m-text-thin m-teal" style="font-size: 15px" th:text="${blogCount}">30</span>&nbsp;篇
            </div><br>
            <div style="display: inline-block;">
              浏览总数:&nbsp;
              <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${viewCount}">3000</span>&nbsp;次
            </div><br>
            <div style="display: inline-block;">
              评论总数:&nbsp;
              <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${commentCount}">3</span>&nbsp;条
            </div><br>
            <div style="display: inline-block;">
              留言总数:&nbsp;
              <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${messageCount}">3</span>&nbsp;条
            </div>
          </div>
        </div>
      </div>

      <div class="four wide column" >
        <div class="ui inverted link list">
          <div class="item">
            <!--微信二维码-->
            <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >微信</div>
            <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>

      <div class="four wide column">
        <div class="ui inverted link list">
          <div class="item">
            <!--qq维码-->
            <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >QQ</div>
            <img src="../static/images/qq.jpg" th:src="@{/images/qq.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >推荐友链</div>
        <div th:each="friend : ${friendsList}">
          <a href="#" target="_blank" th:href="@{${friend.address}}" style="color:teal;"  class="m-text-thin" >
            <span class="item m-text-thin m-teal" style="font-size: 15px;" th:text="${friend.name}">喔哈星</span>
          </a><br>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted section divider"></div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style="color: teal;margin-top: -18px;font-size: 15px" class="ui inverted m-text-thin m-text-spaced">
      我的博客已开放:<span id="htmer_time" class="item m-text-thin"></span></div>
  </div>
  <p style="text-align: center">
    <a rel="nofollow" href="http://beian.miit.gov.cn">桂ICP备2022011074号-1</a>
  </p>


</footer>

<script src="../static/lib/jquery-3.2.1/jquery-3.2.1.min.js" th:src="@{/lib/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script src="../static/lib/semantic/dist/semantic.min.js" th:src="@{/lib/semantic/dist/semantic.min.js}"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<!-- 懒加载 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js"></script>
<!-- 雪花特效 -->
<script src="../static/lib/snow/jq.snow.js" th:src="@{/lib/snow/jq.snow.js}"></script>

<script>

  //雪花特效
  $(document).ready(function() {
    // 在屏幕宽度大于 768px 时执行雪花效果
    if ($(window).width() > 768) {
      $(document).snow({
        // 雪花效果的配置参数
        minSize: 5,//雪花的最小尺寸
        maxSize: 40,//雪花的最大尺寸
        newOn: 700,//雪花出现的频率 这个数值越小雪花越多
      });
    }
  });

  //懒加载
  $(document).ready(function() {
    $('img').unveil();
  });

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");

  // 运行时间统计
  function secondToDate(second) {
    if (!second) {
      return 0;
    }
    var time = new Array(0, 0, 0, 0, 0);
    if (second >= 365 * 24 * 3600) {
      time[0] = parseInt(second / (365 * 24 * 3600));
      second %= 365 * 24 * 3600;
    }
    if (second >= 24 * 3600) {
      time[1] = parseInt(second / (24 * 3600));
      second %= 24 * 3600;
    }
    if (second >= 3600) {
      time[2] = parseInt(second / 3600);
      second %= 3600;
    }
    if (second >= 60) {
      time[3] = parseInt(second / 60);
      second %= 60;
    }
    if (second > 0) {
      time[4] = second;
    }
    return time;
  }
  function setTime() {
    /*此处为网站的创建时间*/
    var create_time = Math.round(new Date(Date.UTC(2022, 11, 10, 15, 15, 15)).getTime() / 1000);//这里月份以0开始
    var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
    currentTime = secondToDate((timestamp - create_time));
    currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
    document.getElementById("htmer_time").innerHTML = currentTimeHtml;
  }
  setInterval(setTime, 1000);

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    })


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>
