<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starQeem.qeemblog.mapper.TypeMapper">
    <resultMap id="BaseResultMap" type="com.starQeem.qeemblog.pojo.Type">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <collection property="blogList" ofType="com.starQeem.qeemblog.pojo.Blog">
            <id property="id" column="b_id"/>
        </collection>
    </resultMap>
    <select id="getTypeList" resultMap="BaseResultMap">
        select t.id,t.name,b.id b_id
        from t_type t left join t_blog b on t.id = b.type_id;
    </select>
    <select id="getSixTypeList" resultMap="BaseResultMap">
        SELECT t.id, t.name, b.id AS b_id
        FROM (
                 SELECT DISTINCT id, name
                 FROM t_type
                          LIMIT 6
             ) t
                 LEFT JOIN t_blog b ON FIND_IN_SET(t.id, b.type_id) > 0;

    </select>
</mapper>
